{%  extends 'base.html' %}
{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>Opinions are central to almost all human activities and are key influencers of our behaviors, our beliefs, and perceptions of reality , and the choices we make</p>
        <p><a class="btn btn-primary btn-lg" href="/products" role="button">Let's Start >> </a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>make a decision</h2>
          <p>When we need to make a decision we often seek out the opinions of others. This is not only true for individuals but also true for organizations. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>reviews</h2>
          <p>As numbers of reviews ,containing opinions about a specific entity and its features, are highly increasing it was very important to find a way to analyze all of these reviews and get a result that is useful for producers and individuals </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Objective</h2>
          <p>The system should return all of the related reviews about the product ,the user has chosen, and extract the important features and then analyze all of these reviews</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
{% endblock %}