
{%  extends 'base.html' %}
{% load staticfiles %}

{% block content %}

        <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Our Opinion Mining Website!</div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <a href="/products/" class="btn btn-xl">Let's Start</a>
            </div>
        </div>
    </header>


{%endblock %}


<style>


.space{margin-bottom: 25px;}




</style>