{%  extends 'base.html' %}
{% block content %}

<div class="container">
<div class="space"></div>

{% regroup products by category as categories_list %}
{% for categor in categories_list %}
                <div class="row {% cycle 'sky' 'hot' 'fresh' 'sunny' %}">

    <h2>{{ categor.grouper }}</h2>

        {% for product in categor.list  %}

        <a href="/products/{{product.id}}/" class="row">
        <button type="button" class="btn text-uppercase btn-lg  ">
            {{ product.name }}
        </button>
            </a>

    {%  endfor %}
            </div>

    <div class="clear"></div>
{% endfor %}








</div>



<style>
    body{
    font-family: 'Oswald', sans-serif;
}

    .space{
        margin-bottom: 30px;
    }



.clear{
    clear: both;
}

</style>

{% endblock %}